body {
    background-color: rgb(154, 18, 18);
    font-family: "Fredoka", sans-serif;
} 

#container{
    display: flex;
}

.cartão{
    margin: 1rem 1rem;
}

footer {
background-color: rgba(73, 196, 245, 0.668);
color: rgb(200, 222, 232);
bottom: 0;
position: fixed;
width: 100%;
}

footer p{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5;
}
.fredoka-<uniquifier> {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }